In [26]:
import pandas as pd

In [27]:
westcoastracedata='https://github.com/NichMaue/Projects/raw/main/westcoastracedata.xlsx'

In [28]:
westcoastracedata=pd.read_excel(westcoastracedata)

In [29]:
westcoastracedata

,Area Name,Total,White Total,Black Total,AIAN Total,Asian Total,NHOPI Total,Two or More Races Total,State
0,Adams,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0,Washington
1,Asotin,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0,Washington
2,Benton,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0,Washington
3,Chelan,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0,Washington
4,Clallam,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0,Washington
...,...,...,...,...,...,...,...,...,...
128,Wallowa County,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0,Oregon
129,Wasco County,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0,Oregon
130,Washington County,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0,Oregon
131,Wheeler County,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0,Oregon
132,Yamhill County,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0,Oregon

In [30]:
rename=['County', 'total_population','white_total', 'black_total', 'aian_total', 'asian_total', 'nhopi_total', 'multiracial_total','State']

In [31]:
westcoastracedata.columns[::]

Index(['Area Name', 'Total', 'White Total', 'Black Total', 'AIAN Total',
       'Asian Total', 'NHOPI Total', 'Two or More Races Total', 'State'],
      dtype='object')

In [32]:
dict(zip(westcoastracedata.columns[::], rename))

{'Area Name': 'County',
 'Total': 'total_population',
 'White Total': 'white_total',
 'Black Total': 'black_total',
 'AIAN Total': 'aian_total',
 'Asian Total': 'asian_total',
 'NHOPI Total': 'nhopi_total',
 'Two or More Races Total': 'multiracial_total',
 'State': 'State'}

In [33]:
westcoastracedata.rename(columns=dict(zip(westcoastracedata.columns[::], rename)),inplace=True)

In [34]:
westcoastracedata

,County,total_population,white_total,black_total,aian_total,asian_total,nhopi_total,multiracial_total,State
0,Adams,20150.00,18056.0,446.00,1109.00,287.0,11.00,241.0,Washington
1,Asotin,22520.01,21087.0,144.00,355.99,184.0,58.00,691.0,Washington
2,Benton,201799.99,181938.0,3378.00,2503.99,6850.0,472.01,6658.0,Washington
3,Chelan,78420.00,73391.0,510.01,1497.00,929.0,193.00,1900.0,Washington
4,Clallam,76010.00,65939.0,791.00,4242.01,1420.0,143.00,3475.0,Washington
...,...,...,...,...,...,...,...,...,...
128,Wallowa County,7208.00,6890.0,33.00,68.00,36.0,10.00,171.0,Oregon
129,Wasco County,26682.00,24271.0,215.00,1003.00,300.0,191.00,702.0,Oregon
130,Washington County,601592.00,479049.0,15194.00,6827.00,70417.0,3168.00,26937.0,Oregon
131,Wheeler County,1332.00,1224.0,3.00,34.00,14.0,3.00,54.0,Oregon
132,Yamhill County,107100.00,97848.0,1287.00,2148.00,2165.0,268.00,3384.0,Oregon

In [38]:
westcoastracedata.to_csv('westcoastracedata.csv',index=False)

In [39]:
import re

In [ ]:
import numpy as np

In [44]:
westcoastracedata.replace({County:np.''},inplace=True)

SyntaxError: invalid syntax (<ipython-input-44-c69f336db737>, line 1)